.container {
  padding-top: 20px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #a59ae0;
}

.layoutContent {
  padding: 2rem;

  width: 100%;
  max-width: 1500px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #23272c;

  .contentHeader {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.layoutContent::-webkit-scrollbar {
  width: 8px;
}

.layoutContent::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.layoutContent::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.layoutContent::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  display: flex;
  gap: 1rem;
}

.logoIcon {
  display: flex;
  width: 40px;
  height: 40px;
}

.headerTitle {
  color: #a59ae0;
  cursor: pointer;
}

.headerButtons {
  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttonLogout {
  margin-top: 0;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(157, 157, 157);
  background-color: #23272c;
  border-radius: 60px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #a59ae0;
  }

  .logoutLogo {
    width: 20px;
    height: 20px;
  }
}

.buttonProfile {
  margin-top: 0;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(157, 157, 157);
  background-color: #23272c;
  border-radius: 60px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #a59ae0;
  }

  .profileLogo {
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
}

.splitLine {
  margin-top: 2rem;
  border: 1px solid #4f4f4f;
}

.mainCard {
  margin-top: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.filter {
  margin-top: 3rem;
}
